*{
margin: 0;
padding: 0;
}

body {
color: #000000;
background-color: #f2f2f2;
font-family: 'Montserrat', sans-serif;
font-size: 1.5rem;
}

.fondoBlanco {
color: #f6f4f8;
background-color: #4e3d59;
}

.fondoNegro {
color: rgb(10, 10, 10);
background-color: #9a969d;;
}

.fondoFooter {
color: #f2f2f2;
background-color: #a0a09a;
width: 100%;
text-align: left;
padding: 0.5em;
align-self: flex-end;
}

.fondoBody {
    background-color: #f5ebdc;
  }