*{
margin: 0;
padding: 0;
}

body {
color: #020202;
background-image: url("../public/images/fondo2.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
font-size: 1.5rem;
}

.fondoBlanco {
color: #f6f4f8;
background-color: #4e3d59;
}

.fondoNegro {
color: rgb(10, 10, 10);
background-color: #b8b5bb;
font-weight: bold;
}

.fondoFooter {
color: #f2f2f2;
background-color: #a0a09a;
width: 100%;
text-align: left;
padding: 0.5em;
align-self: flex-end;
}

.fondoBody {
background-color: #f5ebdc;
}

.fondoFooter1 {
  color: #f2f2f2;
  background-color: #a0a09a;
  width: 100%;
  padding: 0.5em;
  }

.footer-text {
 display: block;
 text-align: center;
}




